body {
  font-family: 'Roboto', sans-serif;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px; 
}

body {
  background-image: url('src/assets/background.webp'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}

.event-card {
  flex: 0 0 calc(30% - 5px); 
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 200px;
}

.event-card:first-child {
  margin-left: 20px;
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.event-image {
  max-width: 120px;
  height: auto;
  margin-top: 10px;

  
}

.ticket-quantity-input{
  width: 70px;
  text-align: center; /* Center the text within the input */
 
}



h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #a610b1;
}



.event-title {
  color: #a610b1;
  text-align:center;
}

.event img {
  height: 150px;
}

.event-img {
  width: 20%;
  height: auto;
  border-radius: 0.25rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.btn {
  background-color: #d77eef;
  color: #ffffff; 
  padding: 8px 16px; 
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer; 
  transition: background-color 0.3s ease-in-out; 
}

.btn:hover {
  background-color: #d77eef; 
}


#ticketType {
  width: 100%;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
  margin-left:20px;
  
}

#page-header {
  
  position: sticky;
  top: 0;
 
}


.link-item {
  color: #760a83
}

.logo {
  height: 50px;
  padding: 6px;
}

.add-btn {
  background-color: #de411b;
}

.add-to-cart-btn {
  background: #de411b;
  margin: 22px auto;
  display: block;
  width: 100%;
}

.main-content-component {
  margin-bottom: 40px;
}

.content {
  /* Restul stilurilor pentru conținut */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* Stilizare pentru cardurile de comandă */
.order-card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

/* Stilizare pentru detaliile comenzii din interiorul cardului */
.order-details {
  padding: 10px;
}

.order-details p {
  margin: 5px 0;
}

.order-details strong {
  font-weight: bold;
  color:#a610b1;
}

/* Stilizare pentru butoanele din dreapta comenzii */
.order-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  gap: 5px;
}


.sort-buttons {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
  
}
.sort-buttons button {
  margin: 0 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Pentru a adăuga spațiu între căutare și lista de evenimente */
}


